<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fan.springboot_jsp_shiro.dao.UserDao">
<insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="id">
    insert into user(user_name,password,salt) values (#{userName},#{password}, #{salt})
</insert>

    <select id="getUserByName" parameterType="string" resultType="user">
        select id, user_name, password, salt from user where user_name = #{userName}
    </select>
    
    <resultMap id="userRoleMap" type="user">
        <id column="uid" property="id"/>
        <result column="uname" property="userName"/>
        <collection property="roles" javaType="list" ofType="role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="getUserRoles" parameterType="string" resultMap="userRoleMap">
        SELECT t1.id uid, t1.user_name uname,t3.id rid, t3.name rname
         FROM user t1 left join user_role t2 on t1.id = t2.user_id
        left join role t3 on t2.role_id = t3.id where t1.user_name = #{userName}
    </select>
</mapper>